OPENAI_API_KEY=
SUPABASE_URL=
SUPABASE_KEY=
GOOGLE_SERVICE_ACCOUNT_JSON=
GOOGLE_CALENDAR_ID=
GOOGLE_CALENDAR_CONSULTAS=
GOOGLE_CALENDAR_BANHO_TOSA=
GOOGLE_CALENDAR_CIRURGIAS=
GOOGLE_CALENDAR_VACINAS=
